.myBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8f7a66;
    border-radius: 6px ; 
    padding: 0 20px;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    font-size: 16pt;
    border: none;
    outline: none;
    transition: 0.5s;
}

.myBtn:hover{
    background: #736252;
    
}

@media (max-width: 600px) {
    .myBtn {
        font-size: 14pt;
    }
}

@media (max-width: 420px) {
    .myBtn {
        font-size: 12pt;
    }
}