.footer {
    font-family: arial,x-locale-body,sans-serif;
    letter-spacing: -.0027777778rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    background-color: #1b1b1b;
    color: #fff;
    padding: 36px 36px;
    font-size: 1.4em;
    line-height: 1.5;
    display: block;
    margin-top: 200px;
    text-align: center;
    position: relative;
    left: 0;
}
.line {
    margin: 0 auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: #f4f4f4 1px solid;
}

@media (max-width: 600px) {
    .footer {
        padding: 24px 24px;
        font-size: 1em;
    }
}
@media (max-width: 420px) {
    footer {
        padding: 18px 18px;
        font-size: 0.8em;
        margin-top: 300px;
    }
}